* {
  margin: 0;
  padding: 0;
}

body {
  z-index: 8; /*o body ficava por cima do burguer icon*/
  background-image: url('../imgs/background.png');
  background-size: cover;
  background-attachment: fixed;
}

i.fa-bars {
  position: fixed;
  left: 8px;
  top: 8px;
  font-size: 2em;
  transition: transform .4s;
  cursor: pointer;
  z-index: 10; /*pra ficar por cima do body*/
}

#pokemons {
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  margin: 50px 0 10px 0;
  padding: 0 15px 0 15px;
  grid-row-gap: 50px;
}

@media all and (max-width: 800px) {
  #pokemons {
    grid-template-columns: repeat(6, 16.66%);
  }
}

@media all and (max-width: 650px) {
  #pokemons {
    grid-template-columns: repeat(4, 25%);
  }
}

@media all and (max-width: 400px) {
  #pokemons {
    grid-template-columns: repeat(2, 50%);
  }
}

.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.img-pokemon {
  transition: .1s linear;
  cursor: pointer;
}

.img-pokemon:hover {
  transform: scale(1.2);
}
